<link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.css">
<link href="/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.custom.css">
<input type="hidden" id="edit" value="@Html.Raw(ViewBag.Edit)" />
<input type="hidden" id="delete" value="@Html.Raw(ViewBag.Delete)" />
@Html.DropDownList("navigationSelection", new SelectList(ViewBag.navigation,"ID", "Title"), "Chọn danh mục", new { @class="form-control form-control-sm" })
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Chủ đề bài viết</h3>
        <div class="card-tools pull-right">
            @{
                if (ViewBag.Add == true)
                {
                    <button type="button" title="Thêm mới" class="btn btn-box-tool pg_ld" data-widget="collapse" data-title="Thêm nhóm chủ đề" data-url="/administrator/admpost/createcategory">
                        <i class="fa fa-plus"></i>
                    </button>
                }
            }            
        </div> 
    </div>
    <div class="card-body">
        <table id="tbList" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th></th>
                    <th>Danh mục</th>
                    <th>Tiêu đề</th>
                    <th>Mô tả</th>
                    <th>Bài viết</th>
                    <th>Thứ tự</th>
                    <th>On navigation</th>
                    <th>Hiển thị</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@Html.Partial("~/Areas/Administrator/Views/Shared/_DeleteModal.cshtml")
<script src="/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="/Areas/Administrator/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/Areas/Administrator/Content/Custom/admpost.category.js"></script>