
@{
    ViewBag.Title = "Nhóm chủ đề";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.custom.css">
}
@section action{
    @{
        if (ViewBag.Add == true)
        {
            <li class="breadcrumb-item"><a href="/administrator/admpost/createcategory">Thêm mới</a></li>
        }
    }
}
@section script{
    <script src="/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="/Areas/Administrator/Content/Custom/post.category.js"></script>
}
<input type="hidden" id="edit" value="@Html.Raw(ViewBag.Edit)" />
<input type="hidden" id="delete" value="@Html.Raw(ViewBag.Delete)" />
@Html.DropDownList("navigationSelection", new SelectList(ViewBag.navigation,"ID", "Title"), "Chọn danh mục", new { @class="form-control form-control-sm" })
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tbList" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th></th>
                            <th>Danh mục</th>
                            <th>Tiêu đề</th>
                            <th>Mô tả</th>
                            <th>Bài viết</th>
                            <th>Thứ tự</th>
                            <th>On navigation</th>
                            <th>Hiển thị</th>
                            <th>#</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Administrator/Views/Shared/_DeleteModal.cshtml")
