@model TDH.Model.Website.NavigationModel
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "website" })
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Thêm danh mục bài viết</h3>
        <div class="card-tools pull-right">
            @{
                if (ViewBag.View == true)
                {
                    <a href="javascript:;" title="Quay lại" class="btn btn-box-tool pg_ld" data-widget="collapse" data-url="/administrator/admpost/navigation" data-title="Danh mục bài viết">
                        <i class="fa fa-long-arrow-left"></i>
                    </a>
                }
                <a href="javascript:;" title="Tải lại" class="btn btn-box-tool pg_ld" data-widget="collapse" data-url="/administrator/admpost/createnavigation" data-title="Thêm danh mục bài viết">
                    <i class="fa fa-refresh"></i>
                </a>
            }
        </div>
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("createnavigation", "admpost", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "OnFailure", OnBegin = "beginSubmit" }, new { @id = "form" }))
        {
            @Html.Partial("_NavigationForm", Model)
        }
    </div>
</div>
<script src="/Areas/Administrator/Content/ckeditor/ckeditor.js"></script>
<script src="/Areas/Administrator/Content/ckfinder/ckfinder.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Areas/Administrator/Content/Custom/admpost.navigation.action.js"></script>