@model TDH.Areas.Administrator.Models.CategoryModel
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Thêm nhóm chủ đề</h3>
        <div class="card-tools pull-right">
            @{
                if (ViewBag.View == true)
                {
                    <button type="button" title="Quay lại" class="btn btn-box-tool" data-widget="collapse" data-url="/administrator/admpost/category" data-title="Nhóm chủ đề">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                }
            }
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("CreateCategory", "admpost", FormMethod.Post, new { @class = "form" }))
        {
            @Html.Partial("_CategoryForm", Model)
        }
    </div>
</div>
<script src="/Areas/Administrator/Content/ckeditor/ckeditor.js"></script>
<script src="/Areas/Administrator/Content/ckfinder/ckfinder.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/Areas/Administrator/Content/Custom/post.category.action.js"></script>