<div class="banner two">
    <div class="container">
        <img src="@ViewBag.banner" data-src="@ViewBag.banner" alt="Trần đình hưng" class="lazy" title="Trần đình hưng" style="width: 100%; height:auto;" />
    </div>
</div>
