@model TDH.ViewModel.MetaViewModel
<div class="connect">
    <h4 class="side">KẾT NỐI VỚI TÔI</h4>
    <div class="sign_up">
        <div class="img">
            <img src="@Model.MetaImage" alt="Trần Đình Hưng" />
        </div>        
        <div style="text-align: justify;">
            @Html.Raw(Model.MetaDescription)
        </div>
        <a href="/gioi-thieu" class="read">Chi tiết về tôi</a>
    </div>
</div>
