<div class="sign_main">
    <h4 class="side">Đăng ký nhận tin</h4>
    <div class="sign_up">
        <p class="sign">Đăng ký để nhận những nội dung giá trị!</p>
        <form>
            <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
            <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
            <input type="submit" value="submit">
        </form>
        <p class="spam">Tôi sẽ không spam email của bạn. Mọi thứ là bí mật!</p>
    </div>
</div>
