@using TDH.Model.ViewModel.WebSite;
@using Utils;
@model IEnumerable<CategoryViewModel>

<div class="col-md-4 footer-grid">
    <h4>DANH MỤC BÀI VIẾT</h4>
    <ul class="td-pb-padding-side">
        @{
            foreach (var item in Model)
            {
                <li><a href="@item.Alias">@item.Title<span class="td-cat-no">@item.Count.NumberToString()</span></a></li>
            }
        }
    </ul>
    <div class="clearfix"></div>
</div>