
TDH/obj/


TDH/bin/

packages/

\.vs/config/applicationhost\.config

\.vs/TDH/v15/Server/sqlite3/db\.lock

\.vs/TDH/v15/Server/sqlite3/storage\.ide

\.vs/TDH/v15/Server/sqlite3/storage\.ide-shm

\.vs/TDH/v15/Server/sqlite3/storage\.ide-wal

TDH\.Services/obj/Debug/

TDH\.DataAccess/obj/Debug/
