@{
    ViewBag.Title = "Truy cập bị từ chối";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="text-align:center;">
                <br />
                <h4>Bạn không có quyền thao tác tính năng này!</h4>
                <p>Vui lòng liên hệ bộ phận quản lý để được hướng dẫn</p>
                <a href="/administrator/login">Đăng nhập</a>
                <br /><br /><br />
            </div>
        </div>
    </div>
</div>


