@{
    ViewBag.Title = "Quản lý tài chính cá nhân";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "money" })
@section header{
}
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Quản lý tài chính cá nhân</h3>
        <div class="card-tools pull-right">

        </div>
    </div>
    <div class="card-body">
        <div class="row">
        </div>
    </div>
</div>
@section script {
}