<link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.css">
<link href="~/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.custom.css">
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "system" })
<input type="hidden" id="edit" value="@Html.Raw(ViewBag.Edit)" />
<input type="hidden" id="delete" value="@Html.Raw(ViewBag.Delete)" />
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Lỗi hệ thống</h3>
    </div>
    <div class="card-body">
        <table id="tbList" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ngày</th>
                    <th>File</th>
                    <th>Method</th>
                    <th>Message</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="detailModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết lỗi hệ thống</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-weight:bold;">Created date</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p id="date"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-weight:bold;">File</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p id="fileName"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p style="font-weight:bold;">Method name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p id="methodName"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p style="font-weight:bold;">Stack track</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p id="stacktrack"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p style="font-weight:bold;">Inner exception</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p id="innerException"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p style="font-weight:bold;">Message</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p id="message"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<script src="/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/Areas/Administrator/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/Areas/Administrator/Content/Custom/admsystem.errorlog.js"></script>
