
@{
    ViewBag.Title = "Thiết lập chung toàn hệ thống";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
@section header{
}
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "common" })
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Thiết lập chung toàn hệ thống</h3>
        <div class="card-tools pull-right">
            
        </div>
    </div>
    <div class="card-body">
        <div class="row">
        </div>
    </div>
</div>
@section script{
}

