<div class="info-box mb-3 bg-primary">
    <span class="info-box-icon"><i class="fa fa-money"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Tiền mặt</span>
        <span class="info-box-number">5,200</span>
    </div>
</div>
<div class="info-box mb-3 bg-primary">
    <span class="info-box-icon"><i class="fa fa-money"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Tiền tiết kiệm</span>
        <span class="info-box-number">5,200</span>
    </div>
</div>
<div class="info-box mb-3 bg-danger">
    <span class="info-box-icon"><i class="fa fa-dollar"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Downloads</span>
        <span class="info-box-number">114,381</span>
    </div>
</div>
<div class="info-box mb-3 bg-danger">
    <span class="info-box-icon"><i class="fa fa-dollar"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Downloads</span>
        <span class="info-box-number">114,381</span>
    </div>
</div>
